body {
  background-color: #1a1a1a; /* Dark background */
}

.App {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
  background-color: #1a1a1a; /* Dark background */
  color: #ccc; /* Light text color */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Lighter box shadow */
}

h1 {
  text-align: center;
  color: #ffcc00; /* Yellow title color */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #333; /* Darker gray border */
}

th {
  background-color: #ffcc00; /* Yellow header background */
  color: #333; /* Dark text color */
}

.asset-logo {
  width: 40px;
  height: auto;
}

.positive {
  color: #3cb371; /* Medium sea green text color for positive change */
}

.negative {
  color: #ff6347; /* Tomato red text color for negative change */
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.input-field,
.select-field {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #333; /* Darker gray border */
  border-radius: 5px;
  margin-right: 10px;
  background-color: #333; /* Darker input background */
  color: #ccc; /* Light input text color */
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffcc00; /* Yellow button background */
  color: #333; /* Dark text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Additional styles */

.chain-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.chain-container {
  margin: 20px; /* Add margin to create spacing between containers */
  border: 5px solid #ffcc00; /* Yellow border */
  border-radius: 10px;
  text-align: center;
  width: calc(22% - 40px); /* Adjust width to fit four chains in a row with spacing */
  box-shadow: 0 0 10px #ffcc00; /* Neon glow effect with reduced intensity */
}

.chain-name {
  font-size: 18px;
  font-weight: bold;
  color: #ffcc00; /* Yellow chain name color */
}

.chain-logo {
  width: 50px;
  height: 50px;
  margin-top: 10px;
}

.net-worth {
  margin-top: 10px;
  font-size: 24px; /* Increased font size */
  color: #ffcc00; /* Yellow text color */
  font-weight: bold; /* Bold font */
  text-align: center; /* Center text */
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffcc00; /* Yellow button background */
  color: #333; /* Dark text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Dark mode styles */
.dark-mode {
  background-color: #fff; /* Light background */
  color: #333; /* Dark text color */
}
